body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure body takes up full viewport height */
  margin: 0; /* Reset default body margins */
}

#root {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  background-color: darkgrey;
}

#buttonHolder {
  width: 800px;
  flex: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#alertBox {
  color: red;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.pretty-button {
  border: none; /* No border */
  color: white;
  padding: 15px 32px; /* Padding around text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin: 1rem;
  flex-grow: 1;
  flex: auto;
}

.pretty-button:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
}

.pixel {
  flex: auto;
  flex-grow: 1;
}

.flexContainer {
  flex: auto;
  flex-grow: 1;
}
